@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
   background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
   font-family: 'Poppins', sans-serif;
   height: 98vh;
}

.loginPage {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 50px;
}

.voteImg {
   width: 500px;
   margin-top: 100px;
   margin-left: -100px;
   
}

.heading {
   text-align: center;
   font-size: 50px;
   color: white;
   font-weight: bolder;
   margin-top: 10px;
}
.loginBtn{
   display: flex;
   flex-direction: column;
}

.voterRegister{
   display: flex;
   flex-wrap: wrap;
   height: 87vh;
   align-items: center;
}

.registerForm{
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.formBox{
   width: 450px;
   height: 400px;
   background-color: white;
   border-radius: 32px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 20px;
}

.sideImg{
   width: 50%;
   height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideImg img{
   width: 450px;
}

.inputBox{
   width: 100%;
   border: 1px solid black;
   height: 50px;
   border-radius: 12px;
   padding: 5px;
}

.actionButton{
   width: 100%;
   border: 1px solid black;
   border-radius: 12px;
   height: 50px;
   margin-top: 50px;
   color: white;
   background-color: #3f3d56;
}
.header{
   text-align: left;
   margin-top: 50px;
   margin-bottom: 10px;
   font-weight: bold;
}
.candidateRegister{
   width: 45%;
   padding: 20px;
   border: 1px solid #ffffff;
   border-radius: 24px;
   margin-right: 5px;
}